{% extends 'base.html' %}

{% block content %}
{{ super() }}
<head>
    <title>Лоты на продажу</title>
    <link type="text/css" href="css/style.css" rel="stylesheet">
</head>
<table border="1", cellpadding="15", align="center", width="85%">
<tr><td width="400"><img src="../static/img/1.jpg" height="150"></td><td>Описание дома</td></tr>
<tr><td><img src="../static/img/2.jpg" height="150"></td><td>Описание дома</td></tr>
<tr><td><img src="../static/img/3.jpg" height="150"></td><td>Описание дома</td></tr>
<tr><td><img src="../static/img/4.jpg" height="150"></td><td>Описание дома</td></tr>
<tr><td><img src="../static/img/5.jpg" height="150"></td><td>Описание дома</td></tr>
</table>
<table border="1", cellpadding="15", align="center", width="85%">
<tr>
    <td rowspan="3", width="400"><img src="../static/img/1.jpg" height="150"></td>
    <td> Название дома/лота</td>
    <td> Ячейка 5</td>
</tr>
<tr>
    <td> Цена</td>
    <td> Ячейка 7</td>
</tr>
<tr>
    <td> Владелец/Контакты </td>
    <td> Ячейка </td>
</tr>
</table>
{% endblock %}


<!-- style="border: 1px solid transparent" -->