{% extends "base.html" %}
  {% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}      
    <div class="container">
      <div class="row">
        <div class="col-6">
              
            <form action="{{ url_for('lots.process_add') }}" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
            <div class="form-group" >
                {{ form.object_name.label }}<br>
                {{ form.object_name() }}
            </div>
            <div class="form-group" >
                {{ form.description.label }}<br>
                {{ form.description() }}
            </div>
            <div class="form-group">
                {{ form.img.label }}<br>
                {{ form.img() }}
            </div>
            <div class="form-group">
                {{ form.starting_price.label }}<br>
                {{ form.starting_price() }}
            </div>
            <div class="form-group">
                {{ form.email.label }}<br>
                {{ form.email() }}
            </div>
            {{ form.submit }}
        </form>
        </div>
    <div class="col-6">

    </div>
    </div>
</div>

{% endblock content %}