{% extends 'base.html' %}

{% block content %}
{{ super() }}
<head>
    <title>{{ page_title }}</title>
    <link type="text/css" href="../static/style.css" rel="stylesheet">
</head>
<body>
    <!-- Первый лот -->
{% for obj in object_list %}
<div class="lot">
    <table border="1", cellpadding="15", align="center", width="100%">
    <tr>
        <td rowspan="3", width="400">
            <img src="/uploads/{{ obj.id }}">
        </td>
        <td width="200", style="font-weight: bold">{{ obj.object_name }}</td>
        <td>{{ obj.description }}</td>
    </tr>
    <tr>
        <td><b>Стартовая цена</b></td>
        <td>{{ obj.starting_price }}</td>
    </tr>
    <tr>
        <td><b>Контакт продавца</b></td>
        <td>{{ obj.email }}</td>
    </tr>
    </table>

</div>
{% endfor %}
</body>
{% endblock %}


<!-- style="border: 1px solid transparent" -->