{% extends 'base.html' %}

{% block content %}
{{ super() }}
<head>
    <title>{{ page_title }}</title>
    <link type="text/css" href="css/style.css" rel="stylesheet">
</head>
<body>
    <!-- Первый лот -->
<div class="lot">
    <table border="1", cellpadding="15", align="center", width="85%">
    <tr>
        <td rowspan="3", width="400"><img src="../static/img/1.jpg" height="150"></td>
        <td width="200"> Название дома/лота</td>
        <td>Ячейка 1</td>
    </tr>
    <tr>
        <td>Цена</td>
        <td>Ячейка 2</td>
    </tr>
    <tr>
        <td>Владелец/Контакты </td>
        <td>Ячейка 3</td>
    </tr>
    </table>
    </div>
        <!-- Второй лот -->
    <div class="lot">
        <table border="1", cellpadding="15", align="center", width="85%">
        <tr>
            <td rowspan="3", width="400"><img src="../static/img/1.jpg" height="150"></td>
            <td width="200"> Название дома/лота</td>
            <td> Ячейка 1</td>
        </tr>
        <tr>
            <td> Цена</td>
            <td> Ячейка 2</td>
        </tr>
        <tr>
            <td> Владелец/Контакты </td>
            <td> Ячейка 3</td>
        </tr>
        </table>
    </div>
        <!-- Третий лот -->
    <div class="lot">
        <table border="1", cellpadding="15", align="center", width="85%">
        <tr>
            <td rowspan="3", width="400"><img src="../static/img/1.jpg" height="150"></td>
            <td width="200"> Название дома/лота</td>
            <td> Ячейка 1</td>
        </tr>
        <tr>
            <td> Цена</td>
            <td> Ячейка 2</td>
        </tr>
        <tr>
            <td> Владелец/Контакты </td>
            <td> Ячейка 3</td>
        </tr>
        </table>
    </div>
        <!-- Четвертый лот -->
    <div class="lot">
        <table border="1", cellpadding="15", align="center", width="85%">
            <tr>
                <td rowspan="3", width="400"><img src="../static/img/1.jpg" height="150"></td>
                <td width="200"> Название дома/лота</td>
                <td> Ячейка 1</td>
            </tr>
            <tr>
                <td> Цена</td>
                <td> Ячейка 2</td>
            </tr>
            <tr>
                <td> Владелец/Контакты </td>
                <td> Ячейка 3</td>
            </tr>
        </table>
    </div>
        <!-- Пятый лот -->
    <div class="lot">
        <table border="1", cellpadding="15", align="center", width="85%">
            <tr>
                <td rowspan="3", width="400"><img src="../static/img/1.jpg" height="150"></td>
                <td width="200"> Название дома/лота</td>
                <td> Ячейка 1</td>
            </tr>
            <tr>
                <td> Цена</td>
                <td> Ячейка 2</td>
            </tr>
            <tr>
                <td> Владелец/Контакты </td>
                <td> Ячейка 3</td>
            </tr>
        </table>
    </div>
    </body>
{% endblock %}


<!-- style="border: 1px solid transparent" -->